.footer {
  background-color: var(--footer);
  color: var(--white);
  padding: var(--space3x);
  font-size: var(--fs-s);
  margin-top: 50px;
}

.footer__copyright {
  color: var(--gray-600);
}
.footer__logo {

  margin-bottom: 40px;
}

.footer_titre {
color: black;
font-style: 2rem;
margin-bottom: 50px;
list-style: none;
width: 100px;
}
.footer__reseaux {
  display: flex;
  margin-left: 20px;
}
.footer__reseau {
  margin-right: 20px;
}

.footer_lien {
  text-decoration: none;
}